<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption Hub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

{% include 'navbar.html' %}

<div class="container mt-3">
    <h2>Welcome to the Cryptography Website!</h2>
    <p>Tugas I Mata Kuliah Kriptografi</p>
</div>

</body>
</html>
